In [1]:
import pandas as pd

mydataset1 = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar1 = pd.DataFrame(mydataset1)

print(myvar1)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
mydataset2={
    'flowers':["Rose","Dahlia","Orchid","Lily","Iris"],
    'colour':["Red","Pink","White","Yellow","Violet"]
}
myvar2 = pd.DataFrame(mydataset2)

print(myvar2)

  flowers  colour
0    Rose     Red
1  Dahlia    Pink
2  Orchid   White
3    Lily  Yellow
4    Iris  Violet

In [4]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [8]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar[a[0]])

7

In [9]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [15]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [17]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df.loc[["day3"]])

      calories  duration
day3       390        45

In [19]:
import pandas as pd

df = pd.read_csv('C:\\Users\\halde\OneDrive\\Desktop\\pokemon.csv')

print(df)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [2]:

import pandas as pd

df = pd.read_csv('C:\\Users\\halde\\OneDrive\\Documents\\Employee Information.csv')

print(df)

    Employee ID  First Name Last Name  Gender  Age Department  \
0            101       John   Johnson    Male   30  Marketing
1            102      Emily     Smith  Female   28      Sales
2            103    Micheal     Davis    Male   35         IT
3            104      Sarah    Wilson  Female   32         HR
4            105      David     Brown    Male   40    Finance
5            106       Lisa    Miller  Female   26  Marketing
6            107      James       Lee    Male   29      Sales
7            108       Lisa  Anderson  Female   33         IT
8            109    Micheal    Taylor    Male   27         HR
9            110     Olivia    Wilson  Female   31    Finance
10           111     Robert    Harris    Male   34  Marketing
11           112      Sarah    Miller  Female   25      Sales
12           113      David       Lee    Male   28         IT
13           114        Mia     Clark  Female   30         HR
14           115    William  Anderson    Male   38    Finance
15           116        Ava     Lewis  Female   27  Marketing
16           117   Benjamin     Moore    Male   32      Sales
17           118    Charlie   Johnson    Male   29         IT
18           119      Grace     Smith    Male   26         HR
19           120       Mike     Davis    Male   35    Finance

                    Position   Salary
0         Marketing  Manager   750000
1       Sales Representative   500000
2             System Analyst   800000
3                 HR Manager   700000
4          Financial Analyst   850000
5      Marketing Coordinator   450000
6              Sales Manager   900000
7          Software Engineer   750000
8              HR Specialist  5500000
9          Senior Accountant   780000
10          Graphic Designer   600000
11           Sales Associate   480000
12          Network Engineer   800000
13              HR Assistant   420000
14         Financial Manager   950000
15         Marketing Analyst   520000
16          Sales Supervisor  6500000
17           Software Tester  8200000
18            HR Coordinator   500000
19  Senior Financial Analyst   880000

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Employee ID   20 non-null     int64
 1   First Name    20 non-null     object
 2   Last Name     20 non-null     object
 3   Gender        20 non-null     object
 4   Age           20 non-null     int64
 5   Department    20 non-null     object
 6   Position      20 non-null     object
 7   Salary        20 non-null     int64
dtypes: int64(3), object(5)
memory usage: 1.4+ KB
None

In [10]:
new_df = df.dropna()

print(new_df)

    Employee ID  First Name Last Name  Gender  Age Department  \
0            101       John   Johnson    Male   30  Marketing
1            102      Emily     Smith  Female   28      Sales
2            103    Micheal     Davis    Male   35         IT
3            104      Sarah    Wilson  Female   32         HR
4            105      David     Brown    Male   40    Finance
5            106       Lisa    Miller  Female   26  Marketing
6            107      James       Lee    Male   29      Sales
7            108       Lisa  Anderson  Female   33         IT
8            109    Micheal    Taylor    Male   27         HR
9            110     Olivia    Wilson  Female   31    Finance
10           111     Robert    Harris    Male   34  Marketing
11           112      Sarah    Miller  Female   25      Sales
12           113      David       Lee    Male   28         IT
13           114        Mia     Clark  Female   30         HR
14           115    William  Anderson    Male   38    Finance
15           116        Ava     Lewis  Female   27  Marketing
16           117   Benjamin     Moore    Male   32      Sales
17           118    Charlie   Johnson    Male   29         IT
18           119      Grace     Smith    Male   26         HR
19           120       Mike     Davis    Male   35    Finance

                    Position   Salary
0         Marketing  Manager   750000
1       Sales Representative   500000
2             System Analyst   800000
3                 HR Manager   700000
4          Financial Analyst   850000
5      Marketing Coordinator   450000
6              Sales Manager   900000
7          Software Engineer   750000
8              HR Specialist  5500000
9          Senior Accountant   780000
10          Graphic Designer   600000
11           Sales Associate   480000
12          Network Engineer   800000
13              HR Assistant   420000
14         Financial Manager   950000
15         Marketing Analyst   520000
16          Sales Supervisor  6500000
17           Software Tester  8200000
18            HR Coordinator   500000
19  Senior Financial Analyst   880000