In [1]:
x={1,2,3,4,5,6,7}
print(x)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
names={'Ram','Shyam',"Ram"}
print(names)
print(type(names))

{'Ram', 'Shyam'}
<class 'set'>

In [8]:
x={1,2,3,4,5,6,7}
print(x)
k=0
for i in x:
    k+=1
    if (k==2):
        print(i)

{1, 2, 3, 4, 5, 6, 7}
2

In [11]:
list=[1,2,2,3,4,5,6,78]
myset=set(list)
print(myset)

{1, 2, 3, 4, 5, 6, 78}

In [15]:
myset=set()
for i in range (10):
    n=int(input('Enter numbers:'))
    myset.add(n)
print(myset)

Enter numbers: 1
Enter numbers: 2
Enter numbers: 3
Enter numbers: 4
Enter numbers: 5
Enter numbers: 6
Enter numbers: 7
Enter numbers: 7
Enter numbers: 8
Enter numbers: 8

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
set1={1,2,3,4}
set2={4.5,6.7,7}
set3={78,5,67,8}
print(set1.union(set2))
print(set1.union(set2,set3))
print(set1.intersection(set2))
print(set1.intersection(set2,set3))

{1, 2, 3, 4, 4.5, 6.7, 7}
{1, 2, 3, 4, 4.5, 6.7, 7, 8, 67, 5, 78}
set()
set()